/**
 * Cytonn Technologies
 * @author Ndirangu Wilson <wndirangu@cytonn.com>
 *
*/

@import "partials/settings";
@import "node_modules/foundation-sites/assets/foundation";


.row{
  padding: 15px;
}
.title{
  padding: 20px;
}

/* Variables */

// Adjust width accordingly (use even #'s)
$logo-width: 118px;
// Reduce px value to increase space between logo and menu text
$logo-padding: $logo-width - 32px;
// Leave alone
$logo-margin: - ($logo-width / 2);

/* Small Navigation */
.logo-small {
  float: right;
}

.title-bar {
  padding: 0 .5rem;
}

.menu-icon,
.title-bar-title {
  position: relative;
  top: 10px;
}

/* Medium-Up Navigation */
@media only screen and (min-width: 40rem) {

  .logo-wrapper {
    position: relative;

    .logo {
      width: $logo-width;
      height:  92px;
      position: absolute;
      left: 50%;
      right: 50%;
      top: -6px;
      margin-left: $logo-margin;
    }
  }

  // Right part
  .top-bar-right {
    width: 50%;
    padding-left: $logo-padding;

    ul {
      float: left;
    }
  }

  // Left part
  .top-bar-left {
    width:  50%;
    padding-right: $logo-padding;

    ul {
      float: right;
    }
  }


  /** Updates show **/
  .box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    display: block;
    margin-top: 60px;
  }

  .box-icon {
    background-color: #569;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
    font-size: 3rem;
    span {
      color: #fff;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
  }

  .info {
    h4 {
      font-size: 26px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    h6 {
      font-size: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $cytonn-color-green;
    }
    p {
      color: #FFFFFF;
      font-size: 16px;
      padding-top: 10px;
    }
    a {
      border-radius: 2px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      transition: all 0.5s ease 0s;
      &:hover {
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
        transition: all 0.5s ease 0s;
      }
    }
  }
  /** Updates show **/
}


